@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/pages/homepage.css" asp-append-version="true" />


<div class="homepage-bg"></div>
<div class="homepage">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

