@model UserModel

<form method="post">
	<input asp-for="UserId" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-dark">Delete User</h2>
			<hr />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" disabled class="form-control" />
			
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="LastName" class="p-0"></label>
			<input asp-for="LastName" disabled class="form-control" />
			
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Email" class="p-0"></label>
			<input asp-for="Email" disabled class="form-control" />
			
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Password" class="p-0"></label>
			<input asp-for="Password" disabled class="form-control" />
			
		</div>
		<div class="row">
			<div class="col-2">
				<button type="submit" class="btn btn-danger ">Delete</button>
			</div>
			<div class="col-2">
				<a asp-controller="User" asp-action="Index" class="btn btn-secondary border ">Back</a>
			</div>
		</div>

	</div>
</form>
